<!DOCTYPE HTML>
<html  lang="en">

<blc:head pageTitle="${category.name + ' - Broadleaf Demo - Heat Clinic'}" />

<body>
<div class="container-fluid">
    <div id="notification_bar"></div>
    <header th:substituteby="layout/partials/header" />
    
    <div id="content" class="width_setter group" role="main">
    
        <nav th:substituteby="layout/partials/nav" />
        
        <section id="left_column">
    
            <header>
                <h5 th:inline="text">
                    <span th:text="#{category.viewing}">Viewing</span> [[${category.name}]] ([[${result.startResult}]] - [[${result.endResult}]] <span th:text="#{category.of}">of</span> [[${result.totalResults}]])
                </h5>
                <div th:substituteby="catalog/partials/productSortOptions"></div>
            </header>
            

                <div th:each="product : ${products}" th:object="${product}" th:include="catalog/partials/productListItem" class="row-fluid prod-row"></div>

        </section>
    

            
    </div>

    <div class="top">
        <ul class="nav nav-pills span6 top-links">
            <li class="visible-desktop"><a th:href="@{/}"><i class="icon-home"></i></a></li>
            <li><a th:href="@{/About-Us}">About Us</a></li>
            <li><a th:href="@{/Privacy-Policy}">Privacy Policy</a></li>
            <li><a th:href="@{/Terms-and-Conditions}">Terms and Conditions</a></li>
            <li><a th:href="@{/FAQ}">FAQ</a></li>
        </ul>
    </div>

    <footer th:substituteby="layout/partials/footer" />
    </div>

<script th:inline="text">

/* <csrf:csrf />  <![CDATA[*/
    $('.add-to-cart').on('click',function(event){
        var selId = '#' + event.target.id;
        var attr = $(selId).attr('attr');
        var itemAttr = 'itemAttributes['+attr+']';

        var objLit = {};
        objLit["productId"] = $(selId).data('id');
        objLit["quantity"] = $('#qty'+event.target.id).val();
        objLit["hasProductOptions"] = "true";
        objLit[itemAttr]= $(selId).attr('attrVal');
        objLit["csrfToken"]= "[[${csrfToken}]]";
        $.ajax({
            url: 'cart/add',
            type: 'POST',
            data: objLit,
            success: function(data){
                    $.jGrowl('<strong>Added to Cart</strong><p>'+data.quantity+ ' x ' + data.name + '</p>');
                $('.headerCartItemsCount').text(data.updateCart)
            }
        })
    });
/*]]>*/
</script>



</body>
</html>
