
        <h1 th:text="${category.name}">

        </h1>
        <div th:substituteby="main/body/category/productSortOptions"></div>

<ul id="prod-list">
    <div th:remove="tag" th:each="product : ${products}" th:object="${product}" th:include="main/body/category/productListItem" class="row-fluid prod-row"></div>

</ul>