<div id="sort">
    <span class="heading"><span th:text="#{productSortOptions.sortBy}">Sort by:</span></span>
    <a blc:addsortlink="price"><span th:text="#{productSortOptions.price}">Price</span></a>
    |
    <a blc:addsortlink="name"><span th:text="#{productSortOptions.name}">Name</span></a>
</div>