<head>
    <meta th:substituteby="main/head/meta" />
    <title th:unless="${pageTitle == 'TEMPLATE'}" th:text="${#strings.isEmpty(pageTitle) ? 'Broadleaf Demo - Heat Clinic' : pageTitle}"></title><title th:if="${pageTitle == 'TEMPLATE'}" th:remove="tag"><title th:inline="text" th:include="${templateName} :: title" /></title>
    <link th:substituteby="main/head/css" />
    <script th:substituteby="main/head/js" />
</head>