    <script src="../../js/jquery-1.9.1.min.js" th:src="@{/js/jquery-1.9.1.min.js}"></script>
    <script src="../../js/less-1.3.3.min.js" th:src="@{/js/less-1.3.3.min.js}"></script>
    <script src="../../bootstrap/js/holder.js" th:src="@{/bootstrap/js/holder.js}"></script>
    <script src="../../js/jquery.easing.1.3.js" th:src="@{/js/jquery.easing.1.3.js}"></script>
    <script src="../../js/jquery.liquid-slider.js" th:src="@{/js/jquery.liquid-slider.js}"></script>