
<script>$(document).ready( function(){

    /* Here is the slider using default settings */
    $('#slider').liquidSlider({
        autoSlide: true,
        autoHeightMin: 300
    });
});
</script>

<blc:content contentType="Main Slider" contentListVar="carouselImageList" />

<slider th:if="${carouselImageList.size() > 1}" th:remove="tag">
    <ul id="slider" class="liquid-slider">

        <li th:each="carouselItem, carouselIndex : ${carouselImageList}"
            th:class="'carouselBullet '+ ${carouselIndex.index}"
            th:classappend="${carouselIndex.first ? 'active' : ''}"
            th:id="${carouselIndex.index}"
            th:attr="data-slide-to=${carouselIndex.index}"
            data-target="#myCarousel">

            <a th:href="@{${carouselItem['url']}}"><h2 class="slide-title" th:text="${carouselItem['title']}"></h2><p class="slide-body" th:text="${carouselItem['body_text']}" ></p><img class="slide-img" th:src="@{${carouselItem['image']}}" /> </a>
        </li>
    </ul>


</slider>

<div th:if="${carouselImageList.size() == 1}">
    <a th:href="@{${contentItem['targetUrl']}}"><img th:src="@{${contentItem['imageUrl']}}" alt="" /></a>
</div>
