<menu:menu resultVar="navCategories" parentCategory="Primary Nav" />

                <ul id="cat-menu">
                    <li><a th:href="@{/}"><i class="icon-home"></i></a></li>
                    <li th:each="category : ${navCategories}" class="dropdown">
                        <a href="#"  th:inline="text">[[${category.key.name}]] <b class="caret"></b></a><div th:each="subcat: ${category.value}" th:remove="tag">
                        <ul th:if="${not #lists.isEmpty(category.value)}" ><each th:each="chunk: ${subcat.value}" th:remove="tag">
                            <li><a th:href="@{${chunk.url}}" th:text="${chunk.name}"><div class="caret-down"></div></a></li></each>
                        </ul></div>
                    </li>

                    <li>
                        <a href="#">
                            <i class="icon-shopping-cart"></i>

                                <span class="headerCartItemsCount" th:text="${cart.itemCount}"/> Items
                        </a>
                        <ul><li th:include="cart/cartMini"></li></ul>
                    </li>
                </ul>

