#search-btn{
    position: relative;
    display: inline-block;
    background: @color02;
    color: #FFF;
    font-family: "Helvetica";
    font-size: 16px;

    text-decoration: none;

    padding: 5px 8px;
    margin: 0px;

    text-shadow: 1px 1px 3px darken(@color02, 20%);
    border-radius: 3px;

    transition: .5s;
    &:hover{
        background: darken(@color02, 10%);
    }
}