#cat-menu{
    position: absolute;
    top: 100px;
    left: 0px;
    right: 0px;
    display:block;
    list-style: none;
    background: @color03;
    height: 30px;
    padding: 8px 0 4px 0;
    & > li{
        float: left;
        margin: 0px 10px;
        &:hover{
            & > a{
                background: #FFF;
                border-radius: 5px 5px 0 0;
                border-left: 1px solid #DDD;

                color: darken(@color01, 30%);
            }
            & > ul{
            left: auto;
        }
        }


        & > a {
            text-decoration: none;
            color: @color01;
            display: block;
            padding: 5px 15px;
            border-left: 1px solid transparent;


        }

        & > ul {
            position: absolute;
            left: -999em;
            background: #FFF;
            padding: 15px;
            list-style: none;
            box-shadow: 2px 2px 5px #DDD;
            border-left: 1px solid #DDD;
            & > li{
                padding-bottom: 2px;
                & > a{
                    text-decoration: none;
                    color: @color01;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}