@import "reset.less";
@import "variables.less";
@import "buttons.less";
@import "menu.less";

#search-text{
    height: 26px;
    -webkit-appearance: none;
    border: 1px solid @color02;
    margin: 0px;
    border-radius: 3px;
    z-index: -200;
    background: transparent;
    padding-left: 25px;
    &:focus{
        box-shadow: 0px 0px 5px darken(@color02, 20%);
        outline: 0;
    }
}
#search-icon{
    display: inline-block;
    height: 22px;
    color: @color02;
    padding: 0px;
    margin-right: -25px;
    top: 1px;
    position: relative;

}

.caret{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    display: inline-block;
    border-top: 5px solid @color01;
    margin-left: 5px;
    position: relative;
    bottom: 2px;
}
#content{
    margin-top: 150px;
}
#search-box{
    position: absolute;
    top: 60px;
    right: 40px;
}
#title-text {
    position: absolute;
    left: 40px;
    top: 60px;
a{
    color: @color05;
    text-decoration: none;
    font-size: 32px;
    &:hover{
        text-decoration: underline;
    }
}
}