    <div th:if="${customer.anonymous}"  th:remove="tag"><ul id="login">
        <li><a class="account" th:href="@{/login}" th:text="#{home.login}"></a> </li>
        <li><a><i class="icon-user"></i></a></li>
        <li><a class="account" th:href="@{/register}" th:text="#{home.register}"></a></li>
    </ul></div><div th:unless="${customer.anonymous}" th:remove="tag"><span><span th:text="#{home.welcome}">Welcome</span>, <a class="my-account" th:href="@{/account}" th:text="${customer.firstName}"></a></span>&nbsp;|&nbsp;<a th:href="@{/logout}"><span th:text="#{home.logout}">Logout</span></a> &nbsp;|&nbsp;</div>