
    <blc:form th:action="@{/search}" method="GET" id="search-box">
        <i class="icon-search" id="search-icon"></i>
        <input type="search" id="search-text"  name="q" th:value="${originalQuery}" />
        <a href="#" id="search-btn">Search</a>
    </blc:form>
