
    <ul id="top-links">
        <li><a th:href="@{/About-Us}">About Us</a></li>
        <li><a th:href="@{/Privacy-Policy}">Privacy Policy</a></li>
        <li><a th:href="@{/Terms-and-Conditions}">Terms and Conditions</a></li>
        <li><a th:href="@{/FAQ}">FAQ</a></li>
    </ul>
