<div class="span3">
    <strong class="title" th:text="*{name}"></strong>

    <div th:if="*{featuredProduct}" class="new_badge label label-important">New!</div>
    <div><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i>(63 Votes)</div>
    <div class="content">
        <p class="prodlist-desc" th:utext="*{longDescription}"></p>
    </div>
    <a href="#" class="btn btn-small"><i class="icon-pencil"></i> Review</a>

</div>

<div class="span2">
    <a th:href="@{*{url}}" >
        <img class="thumbnail" th:if="*{media['primary']}" th:src="@{*{media['primary'].url}}" alt="Sauce Image" />
        <img class="thumbnail" th:unless="*{media['primary']}" data-src="/bootstrap/js/holder.js/90%x200" style="display:none;"/></a>
</div>
<div class="span7">
    <prodopt:prodopt productId="${product.id}"  />
    <table class="table table-condensed sub-prod table-hover">
        <tr th:each="po : ${prodOpt}">
            <td th:text="${po.name}"></td>
            <td class="offers"><span class="badge"><i class="icon-truck"></i></span> <span class="badge"><i class="icon-gift"></i></span></td>
            <td th:text="${po.price}"></td>
            <td class="hidden-tablet hidden-phone"><input type="text" class="qty" value="1" th:id="${'qty' + po.skuId}" size="2"/> </td>
            <td class="align-right"><a th:id="${po.skuId}" class="add-to-cart btn btn-primary btn-small" th:attr="data-id=${product.id}, attr=${po.attribute}, attrVal=${po.name}"><i class="icon-shopping-cart icon-white hidden-phone"></i> Add to Cart</a></td>
        </tr>
    </table>

</div>


