

<span class="table">

        <span>
            <span colspan="2"><span th:text="#{cart.item}">Item</span></span>
            <span><span th:text="#{cart.quantity}">Quantity</span></span>
            <span> <span th:text="#{cart.price}">Price</span> <span class="small" th:text="#{cart.each}">(each)</span></span>
            <span> <span th:text="#{cart.discount}">Discount</span> <span class="small" th:text="#{cart.each}">(each)</span></span>
            <span><span th:text="#{cart.total}">Total</span></span>
        </span>


        <span th:each="item : ${cart.orderItems}" th:object="${item}" th:id="${'productRow' + item.id}">
            <span><img th:if="*{product.media['primary']}" th:src="@{*{product.media['primary'].url}}" width="60" th:alt="*{product.name}" /></span>
            <span class="name">
                <a th:href="@{*{product.url}}" th:text="*{product.name}"></a>
                <br/>
                <ul th:unless="*{#lists.isEmpty(sku.productOptionValues)}" class="productOptions">
                    <li th:each="productOptionValue : *{sku.productOptionValues}" th:text="${productOptionValue.productOption.label + ': ' + productOptionValue.attributeValue}"></li>
                </ul>
                <ul th:if="${item instanceof T(org.broadleafcommerce.core.order.domain.BundleOrderItem)}">
                    <li th:each="doi : *{discreteOrderItems}" th:text="${doi.quantity + ' x ' + doi.name}" />
                </ul>
            </span>
            <span align="center">

                    <input type="hidden" name="productId" th:value="*{product.id}" />
                    <input type="hidden" name="orderItemId" th:value="*{id}" />
                    <input type="number" name="quantity" class="quantityInput" style="width:30px" th:value="*{quantity}" maxlength="3" autocomplete="off"/><br />

            </span>
            <span align="center" blc:price="*{getPriceBeforeAdjustments(true)}"></span>
            
            <span align="center" th:if="*{adjustmentValue.zero}">---</span>
            <span align="center" class="discount" th:unless="*{adjustmentValue.zero}" blc:price="*{adjustmentValue}" ></span>
            
            <span th:if="!${item instanceof T(org.broadleafcommerce.core.order.domain.BundleOrderItem)}" align="center" class="value" th:text="*{price.multiply(quantity)}"></span>
            <span th:if="${item instanceof T(org.broadleafcommerce.core.order.domain.BundleOrderItem)}" align="center" class="value" th:text="*{price}"></span>
        </span>

</span>
