<h5>Item Added</h5>
<span th:text="${itemAdded.quantity}"></span> x <span th:text="${itemAdded.name}"> </span> - <span th:each="ia : ${itemAdded.itemAttributes}">

            <span th:text="${ia.value}"></span>

        </span>
<p>Has been Added to your cart.</p>