<div th:if="${#lists.isEmpty(products)}">
    <div th:substituteby="main/body/home/slider" />
</div>
<div  th:unless="${#lists.isEmpty(products)}">
    <div th:substituteby="main/body/category/category"></div>
</div>