<div id="footer"><ul>
    <li>
        <h5>Customer Service</h5>
        <ul>
            <li>
                Contact Us
            </li>
            <li>Order Status</li>
            <li>Returns (RMA)</li>
            <li>Frequently Asked Questions</li>
            <li>Return Policy</li>
            <li>Privacy Policy</li>
            <li>Gift Cards</li>
        </ul>
    </li>
    <li>
        <h5>Company Information</h5>
        <ul>
            <li>About Pleasant Smoke</li>
            <li>
            <h6>Address:</h6>
                428 Main St Malden, MA 02148
            <h6>Telephone</h6>
                (781) 321-3593
                <h6>Hours</h6>
                M-F 8:00AM - 6:00PMEST
            </li>

        </ul>

    </li>
    <li>
        <h5>Social</h5>
        <ul>
            <li>Facebook</li>
            <li>Twitter</li>
        </ul>
    </li>
</ul></div>