<div class="featured">
            <a th:href="@{*{url}}" >


                <img class="thumbnail" th:if="*{media['primary']}" th:src="@{*{media['primary'].url}}" alt="Sauce Image" />
                <img style="display: none;" th:unless="*{media['primary']}" src="/site/bootstrap/js/holder.js/100%x200" /></a>
<div th:if="*{featuredProduct}" class="new label label-important">New!</div></div>
<h4 th:text="*{name}"></h4> <small>Rating: <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i>(63 Votes)</small>

<prodopt:prodopt productId="${product.id}"  />
<table class="table table-condensed pricing">
                <tr th:each="po : ${prodOpt}">
                    <td th:text="${po.name}"></td>
                    <td th:text="${po.price}"></td>
                  <input type="hidden" value="1" th:id="${'qty' + po.skuId}" />
<td><input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" /></td></tr>
</table>

<a href="#" class="btn"><i class="icon-pencil"></i> Review</a>
<a class="add-to-cart btn btn-primary pull-right btn-mini"  ><i class="icon-shopping-cart icon-white"></i> Add to Cart</a>


