<footer class="group">
    <div id="blc_brand">
        <a href="http://www.broadleafcommerce.com"  >
            <img th:src="@{/img/broadleaf-seal.png}" alt="Broadleaf Commerce" />
            <h4><span th:text="#{footer.branding.poweredByBLC}">Powered by Broadleaf Commerce</span></h4>
            <br />
        </a>
        <p>&copy; <span th:text="#{footer.branding.copyrightBLC}">Copyright 2012 Broadleaf Commerce</span><br /></p>
    </div>
</footer>
