<div class="row-fluid height-change">
                <div class="offset6 span6">
                    <div th:if="${customer.anonymous}"  th:remove="tag"><ul class="pull-right nav nav-pills">
                        <li><a class="account" th:href="@{/login}" th:text="#{home.login}"></a> </li>
                        <li><a><i class="icon-user"></i></a></li>
                        <li><a class="account" th:href="@{/register}" th:text="#{home.register}"></a></li>
                    </ul></div><div th:unless="${customer.anonymous}" th:remove="tag"><span><span th:text="#{home.welcome}">Welcome</span>, <a class="my-account" th:href="@{/account}" th:text="${customer.firstName}"></a></span>&nbsp;|&nbsp;<a th:href="@{/logout}"><span th:text="#{home.logout}">Logout</span></a> &nbsp;|&nbsp;</div>
                </div>
            </div>
            <div class="row-fluid title-row">
                <h2 class="span6 title">
                    <a th:href="@{/}">Pleasant Smoke</a>
                </h2>
                <div class="span6">
                    <blc:form th:action="@{/search}" method="GET" class="form-inline pull-right push-left">
                        <input type="search" class="input"  name="q" th:value="${originalQuery}" />
                        <input type="submit" class="btn" id="search_button" value="Search" />
                    </blc:form>
                </div>
            </div>
