<nav><menu:menu resultVar="navCategories" parentCategory="Primary Nav" />
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand hidden-desktop" href="#">Products and Cart</a>
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="nav-collapse">
            <ul class="nav">
                <li th:each="category : ${navCategories}" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" th:inline="text">[[${category.key.name}]] <b class="caret"></b></a><div th:each="subcat: ${category.value}" th:remove="tag">
                    <ul th:if="${not #lists.isEmpty(category.value)}" class="dropdown-menu"><each th:each="chunk: ${subcat.value}" th:remove="tag">
                        <li><a th:href="@{${chunk.url}}" th:text="${chunk.name}"></a></li></each>
                    </ul></div>
                </li>
            </ul>

                <ul class="nav pull-right">
                    <li class="dropdown pull-right">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="icon-shopping-cart"></i>
                            <strong>
                                <span class="headerCartItemsCount" th:text="${cart.itemCount}"/> Items
                            </strong>
                            <i class="caret"></i>
                        </a>
                        <ul class="dropdown-menu"><li  class="span10" th:include="cart/cartMini"></li></ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>